#tbl-bookmark{
    max-height: 100vh;
    table-layout: fixed;
    overflow-y: auto;
    overflow-x: auto;
}

#table-div{
    max-height: 75vh;
    overflow-y: scroll;
}

#mng-bookmark-thead{
    top: 0;
    position: sticky;
}
