.itemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;


}

.edit {
    background-color: #00c054;
}

.delete {
    background-color: red;
}

.btn {
    color: white;
}