#btn-add-user{
    float: right;
    margin-right:45px;
}

#tbl-mng-user{
    max-height: 100vh;
    table-layout: fixed;
    overflow-y: auto;
    overflow-x: auto;
    text-align: center;
    width: 100%;
}

th, td {
    text-align: center;
}

th:nth-child(6),
td:nth-child(6) {
    width: 11%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(5),
td:nth-child(5) {
    width: 15%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

th:nth-child(4),
td:nth-child(4) {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(2),
td:nth-child(2) {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:first-child,
td:first-child {
    width: 6.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-div{
    max-height: 75vh;
    overflow-y: scroll;
}

#mng-user-thead{
    top: -1px;
    position: sticky;
}

#breadcrumb-last{
    margin-right: 30px;
}
